<div class="document">
	<h1><%= @document.title %></h1>
	<p><%= @document.body %></p>
</div>

<ul class="actions">
	<li>
		<%= link_to "Edit", edit_document_path(@document) %>
	</li>
	<li>	
		<%= link_to "Destroy", document_path(@document),
								method: :delete,
								data: { confirm: "Are you sure?" } %>
	</li>
</ul>

<details>
	<summary>Comments</summary>
	<%= render @document.comments %>
</details>

<details>
	<summary>New Comment</summary>
	<%= render 'comments/form' %>
</details>

<%= link_to "All Documents", documents_path %>
