<h1><%= @document.title %></h1>

<p><%= @document.body %></p>

<ul>
	<li>
		<%= link_to "Edit", edit_document_path(@document) %>
	</li>
	<li>	
		<%= link_to "Destroy", document_path(@document),
								method: :delete,
								data: { confirm: "Are you sure?" } %>
	</li>
	<li>
		<%= link_to "All Documents", documents_path %>
	</li>
</ul>

<h2>Comments</h2>
<%= render @document.comments %>

<h2>New Comment</h2>
<%= render 'comments/form' %>

